#HeaderPrincipal{

    background-color: rgba(255,255,255,.3);
    width: 96%;
    height: 100px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding: 20px;
    top: 1%;
    position: absolute;
    left: 25px;
}

#HeaderPrincipal h1{
    margin-top: -50px;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 9000px;
}

#HeaderPrincipal nav{
    
    margin-top: -130px;
    margin-bottom: 0px;
    margin-left: 1000px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    
}

#HeaderPrincipal ul{
    display: flex;
    margin-left: -550px;
    list-style: none;

}

#HeaderPrincipal li{
    font-size: 18px;
    margin: 0 100px;
    line-height: 30px;
    width: max-content;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

#HeaderPrincipal li a {
    text-decoration:none;
    transition: 0.3s;
}

#HeaderPrincipal li a:link{
    color: whitesmoke;
}

#HeaderPrincipal li a:visited{
    color: whitesmoke;
}

#HeaderPrincipal li a:hover{
    color: #46C033;
}





